<h1>Task</h1>
<% lists.each do |school| %>
<div class="cards">
  <div class="card">
    <div class="card-image">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png" alt="">
    </div>
    <div class="card-header">
      Campus
    </div>
    <div class="card-copy">
      <p><%= link_to list.title, list %></p>
    </div>
  </div>
<% end %>
